.hero__container {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 125px;
  padding-bottom: 258px;
}
.hero__title {
  color: #fff;
  font-size: 86px;
  font-style: normal;
  margin-bottom: 31px;
  line-height: 130%;
  width: 852px;
}
.hero__text {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  line-height: 190%;
  width: 656px;
}
