.aboutus__container {
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 160px;
}
.aboutus__title {
  margin-bottom: 35px;
  color: #fff;
  font-size: 42px;
  line-height: 140%;
}
.aboutus__box {
  display: flex;
  flex-wrap: wrap;
}
.aboutus__box__item {
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  width: 560px;
  line-height: 190%;
}
.aboutus__box__item:first-child {
  margin-right: 35px;
  margin-bottom: 32px;
}
.aboutus__box__item:first-child {
  margin-bottom: 32px;
}
.aboutus__box__item:nth-child(3) {
  margin-right: 35px;
}
.aboutus__box__item__bold {
  font-weight: 900;
}
