.footer__container {
  padding-left: 240px;
  padding-right: 240px;
}
.footer__list__left__list__item:nth-child(2) {
  margin-bottom: 19px;
  margin-top: 19px;
}
.footer__list__left__list__item:nth-child(2):hover {
  font-weight: 600;
  cursor: pointer;
}
.footer__list__left__list__item:last-child {
  margin-top: 14px;
}
.footer__list__item__title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer__list__item__text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__list__item__text:hover {
  font-weight: 600;
  cursor: pointer;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 100px;
  border-bottom: 1px solid #373737;
}
.footer__list__center__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 25px;
  width: 231px;
}
.footer__list__right__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12px;
  width: 151px;
}
.footer__copyright {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  line-height: 150%;
  padding-top: 22px;
  padding-bottom: 30px;
}
